body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Dashboard_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:-40px;
    width:640px;
    height:960px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:960px;
}

.u1 {
    position:absolute;
    left:2px;
    top:472px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:160px;
    top:823px;
    width:160px;
    height:97px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u3 {
    position:absolute;
    left:320px;
    top:823px;
    width:160px;
    height:97px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u4 {
    position:absolute;
    left:480px;
    top:823px;
    width:160px;
    height:97px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u5_normal {
    background-image: url('../Dashboard_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:823px;
    width:160px;
    height:97px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:103px;
}

.u6 {
    position:absolute;
    left:2px;
    top:40px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:22px;
    top:266px;
    width:597px;
    height:109px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u8 {
    position:absolute;
    left:40px;
    top:300px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:22px;
    top:110px;
    width:597px;
    height:66px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:22px;
    top:396px;
    width:597px;
    height:111px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:22px;
    top:594px;
    width:597px;
    height:108px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u12 {
    position:absolute;
    left:22px;
    top:726px;
    width:597px;
    height:97px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u13 {
    position:absolute;
    left:48px;
    top:295px;
    width:545px;
    height:312px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:545px;
    height:312px;
    
}

.u14_normal {
    background-image: url('../Dashboard_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:544px;
    height:310px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:550px;
    height:316px;
}

.u15 {
    position:absolute;
    left:2px;
    top:147px;
    width:540px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Dashboard_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:24px;
    top:186px;
    width:495px;
    height:96px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:501px;
    height:102px;
}

.u17 {
    position:absolute;
    left:2px;
    top:27px;
    width:491px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:28px;
    top:28px;
    width:487px;
    height:74px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

