* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Gameplay_files/u0_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Gameplay_files/u93_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Gameplay_files/u107_normal.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Gameplay_files/u109_normal.png");
}

